extends layout

block content		

  header.header
    a(href='#')
      img.logo(alt='Sxissors Academy logo' src='img/logos/sxissors/png/Blacklogo-nobackground.png')
    nav.main-nav
      ul.main-nav-list
        li
          a.main-nav-link(href='#whoarewe') Who are we?
        li
          a.main-nav-link(href='#courses') Courses
        li
          a.main-nav-link(href='#pricing') Pricing
        li
          a.main-nav-link.nav-cta(href='#cta') Register
    button.btn-mobile-nav
      ion-icon.icon-mobile-nav(name='menu-outline')
      ion-icon.icon-mobile-nav(name='close-outline')

  main
    section.section-hero 
      div.hero
        div.hero-text-box 
          h1.heading-primary Sxissors Academy สถาบันสอนตัดผมชาย
          p.hero-description &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สถาบันสอนตัดผมชาย พร้อมแล้วที่จะสร้างช่างตัดผมรุ่นใหม่เข้าสู่วงการช่างตัดผมไทย เรามุ่งหวังและตั้งใจที่จะยกระดับวงการตัดผมเมืองไทยไปสู่ระดับโลก ด้วยประสบการณ์หลายสิบปีของเหล่าอาจารย์ Sxissors Masters และความตั้งใจจริงใจของทีมงานที่จะส่งมอบเทคนิคและความรู้ประสบการณ์อย่างหมดเปลือก ไม่มีกั๊ก
          a.btn.btn--full.margin-right-sm(href='#cta') สมัครเรียน
          a.btn.btn--outline(href='#courses') คอร์สที่เปิดสอน ↓
          .delivered-meals
            p.delivered-text
              |เรามีนักเรียนที่เรียนจบแล้วกว่า
              span 40 รุ่น
              |นับเป็นจำนวนกว่า 
              span 500
              |คน
              |นักเรียนของเราที่จบไปเปิดร้าน กว่า 100 สาขาทั่วประเทศไทย
              |และอีกกว่า 10 สาขาในประเทศเพื่อนบ้าน
    section.section-who#whoarewe
      .container 
        span.subheading Get to know us 
        h2.heading-secondary Sxissors Academy สถาบันสอนตัดผมชาย ครบจบในที่เดียว
      .container.grid.grid--2-cols.grid--center-v
        .step-text-box 
          p.step-number Founder
          h3.heading-tertiary Saksiri Jullakasean - A
          p.step-description
            | ศักดิ์ศิริ
            | จุลกะเศียน หรือที่รู้จักในนาม “เอ. Sxissors” ในวงการช่างตัดผม
            | ผู้ก่อตั้ง Sxissors Barbershop และ
            strong Sxissors Academy
            |               ตั้งแต่ยังเป็นร้านตัดผมเล็กๆ บุกเบิกการตัดผมแนว Rockabily
            |               เป็นเจ้าแรกๆในประเทศ ด้วยประสบการณ์ที่สะสมมายาวนานกว่า 20 ปี
            |               และด้วยความมุ่งมั่นที่จะยกระดับวงการตัดผมเมืองไทยให้ทัดเทียมชาวต่างชาติ
            |               จึงเกิดเป็นสถาบันสอนตัดผม 
            strong Sxissors Academy
            |               มุ่งหวังให้ผู้คนได้รู้ว่าการเป็น “ช่างตัดผม”
            |               นั้นคืออาชีพที่มีเกียรติและเป็นงานศิลปะที่มีเสน่ห์อันน่าหลงไหล
        .who-img-box
          img.who-img(src='./img/who/A-Sxissors.jpg' alt='Saksiri Jullakasean, Founder of Sxissors Academy')
      
      .container.grid.grid--2-cols.grid--center-v
        // MASTER ROJ
        .who-img-box
          img.who-img(src='./img/who/master-roj.jpg' alt='Thanthong Rodprisom, Master of Sxissors Academy')
        .step-text-box
          p.step-number Master
          h3.heading-tertiary Thanthong Rodprisom - Roj
          p.step-description
            | อาจารย์โรจน์
            | ฐาณทอง รอดไพรสม สั่งสมประสบการณ์ด้าน Barber & Salon มากว่า 30 ปี
            | มีความชำนาญทั้งการทำสีผม การทำเคมี การตัด-ดัด การใช้กรรไกรซอย
            | รวมถึงเทคนิคการใช้มีดโกนอย่างมืออาชีพ

      .container.grid.grid--2-cols.grid--center-v
        // MASTER PUENG
        .step-text-box
          p.step-number Master
          h3.heading-tertiary Benyada Kurupintarak - Pueng
          p.step-description
            | อาจารย์ผึ้ง
            | เบญญาดา กุรุพินทารักษ์ เชี่ยวชาญในสาย Barber & Salon
            | คร่ำหวอดอยู่ในวงการมามากกว่า 1 ทศวรรษ
            | ถ่ายทอดประสบการณ์ให้นักเรียนมาแล้วกว่า 30 รุ่น
        .who-img-box
          img.who-img(src='./img/who/master-pueng.png' alt='Benyada Kurupintarak, Master of Sxissors Academy')

      .container.grid.grid--2-cols.grid--center-v
        // MASTER CHOA
        .who-img-box
          img.who-img(src='./img/who/master-ck.jpg' alt='Thanawat Promchai, Master of Sxissors Academy')
        .step-text-box
          p.step-number Master
          h3.heading-tertiary Thanawat Promchai - Choa Kuay
          p.step-description
            | อาจารย์เฉาก๊วย
            | ธนวัฒน์ พรมชัย มีประสบการณ์ในวงการ Barber มามากกว่า 10 ปี
            | สอนนักเรียนคลาสตัดผมชายมาตั้งแต่ก่อตั้งสถาบัน
            | สอนนักเรียนจนประสบความสำเร็จมามากกว่า 400 คน

    section#courses.section-courses
      .container.center-text
        span.subheading คอร์สที่เปิดสอน
        h2.heading-secondary Sxissors Academy Courses
      .container.grid.grid--3-cols.margin-bottom-md
        .course
          picture
            source(srcset='./img/courses/cut-course-compress.webp' type='image/webp')
            source(srcset='./img/courses/cut-course.jpeg' type='image/jpeg')
            img.course-img(src='img/courses/cut-course.jpeg' alt='Sxissors Academy - Hair Cutting Course')
          .course-content
            p.course-subtitle คอร์สตัดผม
            p.course-title Cutting Course
            ul.course-attributes
              li.course-attribute
                ion-icon.course-icon(name='time-outline')
                span เรียน 7 สัปดาห์
              li.course-attribute
                ion-icon.course-icon(name='cut-outline')
                span ลงมือปฎิบัติกับลูกค้าจริง
              li.course-attribute
                ion-icon.course-icon(name='globe-outline')
                span
                  | หลักสูตร 
                  strong WAHL Academy, UK
              li.course-attribute
                ion-icon.course-icon(name='book-outline')
                span มาตรฐานกระทรวงศึกษาธิการ
              li.course-attribute
                ion-icon.course-icon(name='star-outline')
                span
                  strong 4.9
                  |  rating (537)
        .course
          picture
            source(srcset='./img/courses/perm-course-compress.webp' type='image/webp')
            source(srcset='./img/courses/perm-course.png' type='image/jpeg')
            img.course-img(src='img/courses/perm-course.jpeg' alt='Sxissors Academy - Hair Perming Course')
          .course-content
            p.course-subtitle คอร์สดัดผม - ยืดผมชาย
            p.course-title Perming Course
            ul.course-attributes
              li.course-attribute
                ion-icon.course-icon(name='time-outline')
                span เรียน 2 สัปดาห์
              li.course-attribute
                ion-icon.course-icon(name='cut-outline')
                span ลงมือปฎิบัติกับลูกค้าจริง
              li.course-attribute
                ion-icon.course-icon(name='extension-puzzle-outline')
                span ดัดฟรอย, กระดาษ และแกน
              li.course-attribute
                ion-icon.course-icon(name='search-outline')
                span วิเคราะห์เส้นผม, เกร็ดผม
              li.course-attribute
                ion-icon.course-icon(name='star-outline')
                span
                  strong 4.8
                  |  rating (441)
        .course
          picture
            source(srcset='./img/courses/dye-course-compress.webp' type='image/webp')
            source(srcset='./img/courses/dye-course.png' type='image/jpeg')
            img.course-img(src='img/courses/dye-course.jpeg' alt='Hair dyeing course')
          .course-content
            p.course-subtitle คอร์สทำสีผมแฟชั่น
            p.course-title Dyeing Course
            ul.course-attributes
              li.course-attribute
                ion-icon.course-icon(name='time-outline')
                span เรียน 2 สัปดาห์
              li.course-attribute
                ion-icon.course-icon(name='cut-outline')
                span ลงมือปฎิบัติกับลูกค้าจริง
              li.course-attribute
                ion-icon.course-icon(name='book-outline')
                span เรียนรู้ Color Theory ทฤษฎีสี
              li.course-attribute
                ion-icon.course-icon(name='flask-outline')
                span วิธีคำนวนค่า Oxidation ของสี
              li.course-attribute
                ion-icon.course-icon(name='star-outline')
                span
                  strong 4.8
                  |  rating (489)

    section#testimonials.section-testimonials
      .testimonials-container
        span.subheading Testimonials
        h2.heading-secondary จากไม่มีพื้นฐาน สู่การทำเป็นอาชีพ
        .testimonials
          figure.testimonial
            img.testimonial-img(alt='Photo of customer Dave Bryson' src='img/customers/suwat.jpg')
            blockquote.testimonial-text
              | เป็นเสมือนบ้านอีกหลังนึงและมีคุณครูอาจารย์ที่น่ารัก จนวันนี้ตัวผมได้ประสบความสำเร็จในอาชีพอย่างที่ฝันไว้ ขอบคุณ Sxissors Academy ที่ทำให้ผมได้มีวันนี้ ปัจจุบันเปิดร้านเป็นของตัวเอง
            p.testimonial-name — สุวัฒน์ สวัสดิ์สุข, นักเรียน Sxissors รุ่นที่ 24
          figure.testimonial
            img.testimonial-img(alt='Photo of customer Ben Hadley' src='img/customers/Arbeedeen.jpg')
            blockquote.testimonial-text
              | เข้าใจในการใช้ปัตตาเลี่ยน กรรไกร มีดโกนและท่าทางในการใช้อุปกรณ์ต่างๆให้ดูเป็นมืออาชีพ สามารถวิเคราะห์และออกแบบทรงผม มิตราภาพที่ดีเปรียบสเมือนเป็นครอบครัวเดียวกัน
              | อาจารย์เป็นกันเอง วิชาความรู้ที่ได้นำไปใช้ได้จริงและยังเป็นสถาบันที่ช่างตัดผมทั้งในและต่างประเทศให้การยอมรับ
            p.testimonial-name — Arbeedeen Kuning, นักเรียน Sxissors รุ่นที่ 32
          figure.testimonial
            img.testimonial-img(alt='Photo of customer Hannah Smith' src='img/customers/panupong.png')
            blockquote.testimonial-text
              | สถาบันที่เรียนเป็นเหมือนจุดเริ่มต้นในอาชีพตอนนี้เลย ได้โอกาสต่างๆมากมาย ได้เพื่อนได้มิตรภาพ ได้ความรู้เทคนิคต่างๆมาประยุกต์ใช้ ตอนนี้เป็นช่างตัดผมเต็มตัวแล้ว สถาบันพาไปสอบวิชาชีพหรืออบรมต่างๆ ขอขอบคุณสถาบันที่เป็นจุดเริ่มต้นและทำให้มาถึงจุดนี้ได้ครับ
            p.testimonial-name — ภาณุพงศ์ มานรินทร์, นักเรียน Sxissors รุ่นที่ 37
          figure.testimonial
            img.testimonial-img(alt='Photo of customer Steve Miller' src='img/customers/Ratchapon.png')
            blockquote.testimonial-text
              | ผมช่างปืนจากร้าน The Smileboy Barber Club ที่นี่เป็นมากกว่าสถาบันสอนตัดผม ในการเรียนจะเน้นความเป็นกันเองและเน้นการสอนแบบตัวต่อตัว เพื่อเทคนิคในการเรียนให้ผู้เรียนอย่างเต็มที่ สอนเข้าใจง่าย และยังสอนการตลาดอีกด้วย
            p.testimonial-name — รัชพล ศรีงาม, นักเรียน Sxissors รุ่นที่ 13
      .gallery
        figure.gallery-item
          img(src='img/gallery/1.jpeg' alt='Photo of beautifully\
          arranged food')
          // <figcaption>Caption</figcaption>
        figure.gallery-item
          img(src='img/gallery/2.jpeg' alt='Photo of beautifully\
          arranged food')
        figure.gallery-item
          img(src='img/gallery/3.jpeg' alt='Photo of beautifully\
          arranged food')
        figure.gallery-item
          img(src='img/gallery/4.jpeg' alt='Photo of beautifully\
          arranged food')
        figure.gallery-item
          img(src='img/gallery/5.jpeg' alt='Photo of beautifully\
          arranged food')
        figure.gallery-item
          img(src='img/gallery/6.jpeg' alt='Photo of beautifully\
          arranged food')
        figure.gallery-item
          img(src='img/gallery/7.jpeg' alt='Photo of beautifully\
          arranged food')
        figure.gallery-item
          img(src='img/gallery/8.jpeg' alt='Photo of beautifully\
          arranged food')
        figure.gallery-item
          img(src='img/gallery/9.jpeg' alt='Photo of beautifully\
          arranged food')

    section#pricing.section-pricing
      .container
        span.subheading Pricing
        h2.heading-secondary
          | เริ่มต้นไปด้วยกันที่ Sxissors Academy
      .container.grid.grid--4-cols.margin-bottom-md
        .pricing-plan.pricing-plan--starter
          header.plan-header
            p.plan-name คอร์สตัดผมชาย
            p.plan-price 18,000
            p.plan-price-promotion 15,000
            // <p class="plan-text">per month. That's just $13 per meal!</p>
          ul.list
            li.list-item
              ion-icon.list-icon(name='checkmark-outline')
              span เลือกเวลาเรียนได้
            li.list-item
              ion-icon.list-icon(name='checkmark-outline')
              span ไม่มีค่าใช้จ่ายเพิ่ม
            li.list-item
              ion-icon.list-icon(name='checkmark-outline')
              span
                | ลด 
                strong 3,000
                |  บาท
          .plan-sing-up
            a.btn.btn--full(href='#cta') ลงทะเบียน
        .pricing-plan.pricing-plan--starter
          header.plan-header
            p.plan-name คอร์สดัด-ยืดผมชาย
            p.plan-price 15,000
            p.plan-price-promotion 10,000
            // <p class="plan-text">per month. That's just $13 per meal!</p>
          ul.list
            li.list-item
              ion-icon.list-icon(name='checkmark-outline')
              span เลือกเวลาเรียนได้
            li.list-item
              ion-icon.list-icon(name='checkmark-outline')
              span ไม่มีค่าใช้จ่ายเพิ่ม
            li.list-item
              ion-icon.list-icon(name='checkmark-outline')
              span
                | ลด 
                strong 5,000
                |  บาท
          .plan-sing-up
            a.btn.btn--full(href='#cta') ลงทะเบียน
        .pricing-plan.pricing-plan--starter
          header.plan-header
            p.plan-name คอร์สทำสีผมแฟชั่น
            p.plan-price 15,000
            p.plan-price-promotion 10,000
            // <p class="plan-text">per month. That's just $13 per meal!</p>
          ul.list
            li.list-item
              ion-icon.list-icon(name='checkmark-outline')
              span เลือกเวลาเรียนได้
            li.list-item
              ion-icon.list-icon(name='checkmark-outline')
              span ไม่มีค่าใช้จ่ายเพิ่ม
            li.list-item
              ion-icon.list-icon(name='checkmark-outline')
              span
                | ลด 
                strong 5,000
                |  บาท
          .plan-sing-up
            a.btn.btn--full(href='#cta') ลงทะเบียน
        .pricing-plan.pricing-plan--complete
          header.plan-header
            p.plan-name Full course
            p.plan-price 48,000
            p.plan-price-promotion 25,000
            // <p class="plan-text">per month. That's just $11 per meal!</p>
          ul.list
            li.list-item
              ion-icon.list-icon(name='checkmark-outline')
              span เลือกเวลาเรียนได้
            li.list-item
              ion-icon.list-icon(name='checkmark-outline')
              span ไม่มีค่าใช้จ่ายเพิ่ม
            li.list-item
              ion-icon.list-icon(name='checkmark-outline')
              span
                | ลด 
                strong 20,000
                |  บาท
          .plan-sing-up
            a.btn.btn--full(href='#cta') ลงทะเบียน
      .container.grid
        aside.plan-details
          | ** โปรโมชั่นลดราคานี้ กำหนดวันสิ้นสุด ณ วันที่ 28 กุมภาพันธ์ 2565 **
      .container.grid.grid--4-cols
        .feature
          ion-icon.feature-icon(name='infinite-outline')
          p.feature-title ไม่มีค่าใช้จ่ายเพิ่มเติม
          p.feature-text
            | หากนักเรียนไม่มีความมั่นใจ Sxissors Academy จะสอนจนกว่าจะมีความมั่นใจ ไม่คิดค่าใช้จ่ายใดๆ เพิ่มเติม
        .feature
          ion-icon.feature-icon(name='golf-outline')
          p.feature-title อาจารย์มากฝีมือ
          p.feature-text
            | อาจาร์ยทุกๆท่านของ Sxissors Academy ล้วนแล้วแต่มีประสบการณ์และชำนาญในด้าน Barber & Salon พร้อมที่จะถ่ายทอดให้กับนักเรียนอย่างหมดเปลือก ไม่มีกั๊ก
        .feature
          ion-icon.feature-icon(name='diamond-outline')
          p.feature-title ประกอบอาชีพได้จริง
          p.feature-text
            | ที่ Sxissors Academy มีนักเรียนจบแล้วมากกว่า 40 รุ่น รวม 400 กว่าคน นักเรียนของเราที่จบไปเปิดร้านกว่า 100 ร้านทั่วประเทศ และอีกกว่า 10 ร้านที่ประเทศเพื่อนบ้าน
        .feature
          ion-icon.feature-icon(name='ribbon-outline')
          p.feature-title มีมาตรฐานรองรับ
          p.feature-text
            | สถาบันสอนตัดผมชาย Sxissors ใช้หลักสูตรมาตรฐานจากกระทรวงศึกษาธิการ และยังได้เอาหลักสูตรสากลจาก WAHL Academy ประเทศอังกฤษเข้ามาปรับใช้อีกด้วย

    section#cta.section-cta
      .container
        .cta
          .cta-text-box
            h2.heading-secondary ลงทะเบียนเรียน ตอนนี้เลย!
            p.cta-text
              | มาร่วมสร้างฝัน และเป็นครอบครัวเดียวกันที่ Sxissors Academy
            form.cta-form(action='/users', method='post')
              div
                label(for='full-name') ชื่อ - นามสกุล  
                input#fullname(name='fullname', type='text',placeholder='John Smith',required)
              div
                label(for='email') Email
                input#email(name='email',type='email',placeholder='me@example.com',required)
              div
                label(for='tel') เบอร์โทรศัพท์
                input#tel(name='tel',type='text',placeholder='0999999999', required)
              div
                label(for='address') ที่อยู่
                textarea#address(name='address',cols='30',rows='3',required)
                label(for='select-course') คอร์ส
              div
                select#selectcourse(required)
                  option(value='') เลือกคอร์สที่ต้องการเรียน:
                  option(value='cutting') คอร์สตัดผมชาย
                  option(value='perming') คอร์สดัด-ยืดผมชาย
                  option(value='dyeing') คอร์สทำสีผมแฟชั่น
                  option(value='full') Full course
              button.btn.btn--form(type="submit") ลงทะเบียน
          .cta-img-box(role='img' aria-label='Sxissors barber chairs and mirrors')
  footer.footer
    .container.grid.grid--footer
      .logo-col
        a.footer-logo(href='#')
          img.logo-footer(alt='Sxissros Academy logo' src='img/logos/sxissors/png/Colorlogo-nobackground-compress.webp')
        ul.social-links
          li
            a.footer-link(href='https://www.facebook.com/SxissorsAcademy')
              ion-icon.social-icon(name='logo-facebook')
          li
            a.footer-link(href='#')
              ion-icon.social-icon(name='logo-instagram')
        p.copyright
          | Copyright © 
          span.year 2027
          |  by Sxissors Academy.
          |             All rights reserved.
      .address-col
        p.footer-heading Contact us
        address.contacts
          p.address
            a.address-link(href='https://goo.gl/maps/RmxKmLhTcFgy7r8r6')
              | 208/10 ถนนประชาสงค์เคราะห์ แขวงดินแดง เขตดินแดง, กรุงเทพมหานคร 10400
          p
            a.footer-link(href='tel:+66819186090') 081-918-6090
            br
            a.footer-link(href='mailto:sxissors.academy@gmail.com') sxissors.academy@gmail.com
      nav.nav-col
        p.footer-heading Company
        ul.footer-nav
          li
            a.footer-link(href='#whoarewe') เกี่ยวกับเรา
          li
            a.footer-link(href='#') สำหรับธุกิจ
          li
            a.footer-link(href='#') อาชีพ
      nav.nav-col
        p.footer-heading Resources
        ul.footer-nav
          li
            a.footer-link(href='https://www.facebook.com/SxissorsAcademy') Help center
          li
            a.footer-link(href='#') Privacy & terms

